{% extends 'base.html' %}

{% block content %}
<a href="{% url 'account:user_profile' post.user.id %}"> {{ post.user.username }}</a> ---> {{ post.updated|date:"M Y" }}
<div class="card">
    <p class="text-center">
        {{ post.body }}
    </p>
</div>
<hr>
{% if post.user.id == request.user.id %}
<div>
    <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger"> Delete </a>
    <a href="{% url 'home:post_update' post.id %}" class="btn btn-info"> Update </a>
</div>
<hr>
{% endif %}

{% for comment in comments %}
<div class="card">
    <p class="card-header"> {{ comment.user }} | {{ comment.created | date:"M Y" }} </p>
    <p class="card-body"> {{ comment.body }} </p>

    {% with replies=comment.rcomments.all %}
    {% for reply in replies %}
    <p class=" p-3 m-2 card">
        {{reply.user}} <br /> {{reply.body}}
    </p>
    {%endfor%}
    {% endwith %}
    
    {% if request.user.is_authenticated %}

    <form action="{% url 'home:add_reply' post.id comment.id %}" method="post" class=" p-3 m-2 card">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="send">
    </form>
    {% endif %}

</div> <br />

{% empty %}
<p> No Comments Yet! </p>
{% endfor %}

{% if request.user.is_authenticated %}

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="send">
</form> <br />

{% else %}
<p class="alert alert-danger">
    Only Logged In Users Can Comment!
</p>

{% endif %}

{% endblock %}